body {
    background: url(../img/hojas.jpg);
    background-attachment: fixed; /*PAra que el fondo se quede fijo haciendo scroll*/
}

#logo {
    background: #235E3D;
}

#menu ul li:hover {
    background: #235E3D;
}

.button-more {
    background: #235E3D;
}

.ui-accordion-header-active {
    background: #235E3D !important;
    border: 1px solid #235E3D !important;
}